

@font-face {
	font-family: Franklin Gothic Heavy;
	src: url(Franklin_Gothic_Heavy.ttf);
}

* body {
	font-family: "Franklin Gothic Heavy", Sans-serif;
}

/*This section colors the individual pages.*/

body#index{
	background-color: #c4b878;
}
body#maps{
	background-color: #c4b878;
}
body#marketing{
	background-color: #c4b878;
}
body#goodworks{
	background-color: #c4b878;
}
body#education{
	background-color: #c4b878;
}
body#contacts{
	background-color: #c4b878;
}

nav {
	font-size: 12pt;
	text-align: center;
	color: #8F9DC1;
	text-decoration: none;
}

nav a:link{color: #8F9DC1;
	text-decoration: none;
}
nav a:visited{color: #8F9DC1;
	text-decoration: none;
}

nav a:hover{color:#A66F00;
	text-decoration: none;
}

/*a:hover{
	text-decoration: none;
}*/

h1 {
	font-size: 110pt;
	letter-spacing: -5pt;
	line-height: 80%;
	margin-bottom: -10pt;
	color: #566385;
	text-align: center;
	margin-top: 20pt;
}
/*The "Dean Olsen" for the home page has different spacing than the other pages.*/

h1#index{
	color: #566385;
	margin-bottom: 40px;
}

/* Colors the index page links*/

h2#index{
	font-size: 54pt;
	letter-spacing: -2pt;
	margin-top: 30px;
	color: #A66F00;
	text-align: center;
	line-height: 80%;
	margin-bottom: 20px;
}

h3 {
/*	text-align: center;
*/}

/* This removes underlining from index page links & creates a hover color*/

h2 a:link{
	font-size: 54pt;
	letter-spacing: -2pt;
	margin-top: 30px;
	color: #A66F00;
	text-align: center;
	line-height: 80%;
	margin-bottom: 20px;
	text-decoration: none;
}

h2 a:visited{
	font-size: 54pt;
	letter-spacing: -2pt;
	margin-top: 30px;
	color: #A66F00;
	text-align: center;
	line-height: 80%;
	margin-bottom: 20px;
	text-decoration: none;
}
h2 a:hover{
	color:#495063;
	font-size: 54pt;
	letter-spacing: -2pt;
	margin-top: 30px;
	text-align: center;
	line-height: 80%;
	margin-bottom: 20px;
	text-decoration: none;
}

/*This section colors the section name distinctly for each page. It also moves it close to the H1.*/

h2 {
	margin-bottom: 40px;
	margin-top: 6px;
	text-align: center;
	font-size: 65pt;
	line-height: 80%;
	letter-spacing: -3pt;
	
}

h2#maps {
	color: #993333;
}

h2#marketing {
	color: #de5605;
}

h2#goodworks {
	color: #806327;
}

h2#education {
	color: #ffe706;
}

h2#contacts {
	color: #807127;
}

.lightbox {
	fitImagesInViewport: false;
}

.span lb-caption {
	text-align:center;
	font-family: "Roboto";
	font-size: 14pt; 
}

.mapicon {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 10%
	margin-right:-2%
}

.m2 {
	font-family: "Roboto";
	font-size: 10pt;
	text-align: justify;
	font-weight:normal;
	padding-top: 5%;
	padding-right: 5%;
}

.marklogo {
	vertical-align: top;
	text-align: right;
	padding: 20px;
}

.m3 {
	font-size: 14pt;
	font-family: "Franklin Gothic Heavy";
	color: #de5605;
	line-height: 90%;
	margin-bottom: 20px;
}

/*Good Works page text. G1 Bold purple text. G3 the subtitle text.*/
.g1 {
	font-size: 30pt;
	color: #630460;
	letter-spacing: -2pt;
	text-align: center;
	text-decoration: none;
}

.g2 {
	font-family: "Roboto";
	font-size: 12pt;
	margin-left: 28%;
	margin-right: 28%;
	text-align: justify;
}

.g3 {
	font-family: "Roboto";
	color: #566385;
	font-weight: bold;
	font-size: 16pt;
}

.g1 a:link {
	color:#630460;
	text-decoration:none;
}

.g1 a:visited {
	color:#630460;
	text-decoration:none;
}

.g1 a:hover {
	color:#806327;
	text-decoration:none;
}

.g1 a:active {
	color:#630460;
	text-decoration:none;
}

/*The various text padding on the Education page to make the text line up correctly with the logos.*/
.edtext {
	padding-top: 10px;
	font-size: 14pt;
	letter-spacing:0pt;
	line-height: 100%;
	font-weight: 200;
}

.edtext2 {
	padding-top: 35px;
	font-size: 14pt;
	letter-spacing:0pt;
	font-family: "Franklin Gothic Heavy";
	line-height: 100%;
}

.edtext3 {
	padding-top: 35px;
	line-height: 100%;
	font-size: 14pt;
	letter-spacing:0pt;
	font-family: "Franklin Gothic Heavy";
}

.dl-horizontal dt {
	width: 500px;
	height: auto;
	overflow: visible;
	padding-right: 15px;
	text-decoration: none;
}

/*Contact page text and padding.*/
.dl-horizontal dd .ctext {
	font-size: 14pt;
	line-height: 90%;
	margin-top: 24px;
}

.footer {
	text-align: center;
	font-size: 10pt;
	color: #7e827a;
}

/*Spaces out the text in the Nav bar.*/
nav a {
	padding-right: 10px;
}

.contactform {
	margin-right: 25%;
	margin-left: 25%;
}

.inputName {
	font-family:"Roboto";
}

.btn-block {
	width:auto;
}

.linkedin {
	padding: 25px;
	margin-left: 10px;
	text-align: center;
}


.at {
	font-size: 6em;
	color: red;
	margin-right: 7px;
}

.col-sm-3 {
	background-color: #c4b878;
}

